<html>
	<head>
		<title>Multiplication Title</title>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body>
		<div id="multiplicationTable">

			<p>Length: {{ length }}</p>

			<input type="number" v-model="length" placeholder="length" />
			<input type="number" v-model="width" placeholder="width" />

			<table>
				<tr v-for="i in length">
					<td v-for="j in width">{{ i*j }}</td>
				</tr>
			</table>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="app.js"></script>
	</body>
</html>

<!-- for(int i = 0; i<length i++){
    for(int j = 0; j<width; j++){
        cout << "i*j";
    }
    cout << "\n";
} -->
